{% extends "MainApp/navbar.html" %} 
{% block tital %}services{% endblock %}

    {% block css %}
body{
    overflow-x: hidden;
}
    {% endblock %}
{% load static %}
    {% block body %}
  
     <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
    
      <embed src="{% static 'MainApp/filedata/math.pdf' %}" width= "400" height= "300">
    
       <div class="card-body">
        <h5 class="card-title">Math</h5>
        <p class="card-text"><a href="{% static 'MainApp/filedata/math.pdf' %}">Download</a></p>
      </div> 
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <embed src= "MyHome.pdf" width= "400" height= "200">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  
  <div class="col">
    <div class="card h-100">
      <embed src= "MyHome.pdf" width= "400" height= "200">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <embed src= "MyHome.pdf" width= "400" height= "200">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <embed src= "MyHome.pdf" width= "400" height= "200">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <embed src= "MyHome.pdf" width= "400" height= "200">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  
</div>
    {% endblock %}

{% block script %}
    {% endblock %}